div {
  margin-bottom: 10px;
  display: flex;
  width: 200px;
  justify-content: space-between;
}

input {
  padding-left: 3px;
}

.material-icons {
  cursor: pointer;
}

.sync-icon {
  animation-name: rotation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotation {
  0% {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(-360deg);
  }
}

@media screen and (max-width: 308px) {
  div {
    width: 275px;
  }
}
